*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}
.input-box{
    height: 40px;
    width: 640px;
    display: flex;
}
input{
    border: none;
    font-size:22px;
}
.input-box input:first-child{
    width: 500px;
    height: 100%;
    border: 1px solid gray;
}
.input-box input:last-child{
    flex:1;
    height: 100%;
    background-color: #6a83da;
    color:white;
}